---
---
<!doctype html>
<html>
    {% include head.html title="Building Picard From Source" %}
    <body>
        <div class="wrapper">
            {% include header.html %}

            <h2>Building Picard From Source</h2>

            <section>
            See <a href="https://github.com/broadinstitute/picard/releases/download/2.0.1/README.txt"></a>
            </ol>
            </section>

            <!-- END OF THE MAIN BODY  -->
        </div>
        {% include footer.html %}
    </body>
</html>
